{% extends "base.html" %}
{% load static %}

{% block content %}
 <h1> LinioExp </h1>
    <hr>
    <h3> Productos </h3>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-2">
                <h4 class="mb-4">Categorías</h4>
                {% for categoria in categorias %}
                <p>({{ categoria.cantidad_productos }}) {{ categoria.nombre }}</p>
                {% endfor %}
            </div>
            <div class="col-10 product">
              {% for producto in object_list %}
                <div class="product-item mx-1 mb-3">
                    <a class="product-item-link" href="{% url 'product-detail' producto.pk %}">
                    <div class="product-item-img">
                        <img src="" alt="">
                    </div>
                        <div class="mx-2">
                            <div class="d-table">
                                <h5 class="product-item-name-sub">{{ producto.nombre }}</h5>
                            </div>
                            <h6>S/ {{ producto.precio|floatformat:"2g" }}</h6>
                        </div>
                    </a>
                </div>
              {% empty %}
                <li>Aun no hay productos disponibles.</li>
              {% endfor %}

            </div>

        </div>
    </div>
    <hr>
{% endblock %}